@charset "utf-8";
@import "./default.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
body{ font-family: "Inter", sans-serif; }

/* --------------------------header----------------------------------------- */
header{ background:#121212; width:100%; height:58px; display:flex; justify-content:space-between; align-items:center; left:0; top:0; z-index:10000;}
.game_start{
    color:#fff; background:#DE923C; width:236px; font-weight: bold; font-size:32px; 
    font-family: "Jaldi", sans-serif; height:58px;  border:none;
}
.game_start:hover{background-color: #ffc686; cursor: pointer;}
.header_logo>a{ 
    display:block; padding-left:60px;  background: url("../imgs/logo/logo.png") no-repeat;  background-size:contain;  text-align:center ; color:#fff;
    font-size:22px; height:52px; line-height:25px;
}
.header_logo>a>span{font-size:16px;}
.menu_icon{
    background:url("../imgs/icon/menu_icon.png") no-repeat; border:none; background-size:contain; height:28px; 
    display:block; padding-left:34px; color:#fff; font-size:22px; margin-left:28px; line-height:1em;
}
.menu_icon:hover{cursor: pointer;}

/* -------------------------------------login_box------------------------ */
.login_box{ 
    position:absolute; top: 78px; right:25px; width:348px; height:511px; background:#2b2c31; border-radius:30px; display:none; 
    align-items:center; flex-direction: column; z-index:99999;
}
.logo_img{
    background:url("../imgs/logo/logo.png") no-repeat; background-size:contain; width:66px; height:60px;
    margin:0 auto;
}
.login_logo{
    width:100px; height:117; color:#fff; font-weight: normal; margin-top:42px;
    font-size:24px; line-height:25px; text-align:center; 
}
.login_logo>span{font-size:16px; display:block;}
.login_box>form{display:flex; flex-direction:column; justify-content:center; align-items:center; margin-top:63px;}
#id{ font-size:16px; border:0; background-color:#2b2c31; border-bottom:1px solid #fff; width:116px; height:34px; color:#fff; margin-bottom:24px; text-align:center;}
#ps{ font-size:16px; border:0; background-color:#2b2c31; border-bottom:1px solid #fff; width:116px; height:34px; color:#fff; margin-bottom:24px; text-align:center;}
.login_box>form>a{margin:0 auto; color:#fff; font-size:16px; font-weight:bold;}
.login{margin-top:85px; width:220px; height:45px; background-color:#33a25d; border:0; color:#fff; font-weight: bold; font-size:16px; border-radius:22px; cursor:pointer;}
.login:hover{background-color: #146449;}
#clos{
    position: absolute; background: url("../imgs/icon/x_icon.png")no-repeat; background-size:contain; border:0; top:16px; right:22px;
    width:22px; height:22px; text-indent:-9999px; cursor:pointer;
}
/* ------------------------------------------login_box-------------------------------------- */
/* -----------------------------header---------------------------------------- */

/* --------------------------------nav----------------------------------- */
.nav_content{position:absolute; top:58px; background: #454545; width:100%; height:426px; display:none; z-index:9999;}
.nav_content>ul{display:flex; flex-direction:row; justify-content:space-between; padding-left:138px; padding-right:138px; padding-top:30px;}
.nav_content>ul>li{color:#ececec; font-size:20px; text-align: center;}
.nav_content>ul>li>ul{font-size:16px; margin-top:10px;}
.nav_content>ul>li>ul>li{margin-top:20px;}
.nav_content>ul>li>ul>li>a{margin-top:20px; color:#b2b2b2;}
/* -------------------------------nav---------------------------------- */
/* --------------------------------main_section---------------------------------- */


.swiper {
    width: 100%; height: 590px;
}

.swiper-slide {
    text-align: center; font-size: 18px; display: flex;
    justify-content: center; align-items: center; text-shadow: 0px 0px 10px black;
}

.swiper-slide img {
    display: block;
    width: 100%; height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}



.main_news{ background:url("../imgs/main_section/background1.png") no-repeat; background-size:cover; background-position:center;}
.news2{ background:url("../imgs/main_section/background2.png") no-repeat; background-size:cover; background-position:center;}
.news3{ background:url("../imgs/main_section/background3.png") no-repeat; background-size:cover; background-position:center;}
.news4{ background:url("../imgs/main_section/background4.png") no-repeat; background-size:cover; background-position:center;}
#news_title{
    font-weight: 600; color:#fff; font-size:24px; border:3px solid #fff; padding-left:10px; padding-right:10px; display:flex; 
    flex-direction:column; justify-content:center; position:absolute; top:132px; left:198px; 
}
.content_text{width:586px; height:86px; text-align:left; color:#fff; font-size:18px; position:absolute; top:198px; left:198px; }
.content_title{display:block; font-size:42px; }



/* -----------------------------------------------main_section-------------------------------------------------------------------- */
/* ------------------------------------------------section2------------------------------------------- */


.section2{width:100%; height:652px; background:#eeeeee; display:flex; flex-direction:column;  justify-content:center; align-items:center;}
.content2{width:76%; display:flex; flex-direction:column;  justify-content:center; align-items:end;}
.content_box{width:100%; display:flex; flex-direction:row; justify-content:space-between; gap:14px; }
.content_box>div{width:40%;}
.content_header{display:flex; justify-content:space-between; padding-left:20px; margin-bottom:20px;}
.content_header>h2{color:#2b2b2b; font-weight:bold; font-size:32px;}
.content_header>a{margin-left:276px; background:url("../imgs/icon/plus.png") no-repeat; background-size:contain; width:32px; height:32px; text-indent:-9999px;}

.tidings{height:406px;}
.tidings_box{
    height:310px; border-radius:23px; background-color: #ffffff; 
    padding-top:20px; padding-left:30px; padding-bottom:14px; padding-right:30px;
}
.tidings_box>ul>li>a{display:flex; width:402px; height:62px; border-bottom:1px solid #cdcdcd; align-items:center; justify-content:space-between;}
.tidings_box>ul>li>a>.title{
    font-weight:bold; color:#727272; font-size:14px; border:1px solid #727272; border-radius:25px;
    width:78px; height:26px; text-align:center; line-height:26px;
}
.text{display:block; width:220px; height:26px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; line-height:26px; color:#2f2f2f;}
.day{font-size:15px; color: #989898; position:relative; top:18px; font-weight: bold;}

.tidings_box>ul>li>.bottom{border:none;}

.event{ height:412px;}
.event_box{width:100%; height:350px; display:flex; flex-direction:column; justify-content:space-between;}
.event_content{ background-color:#fff; margin-bottom:8px; border-radius:22px; overflow:hidden; padding-bottom:5px;} 
.event_content>a{display:block; height: 100%; padding-left:186px; display:flex; flex-direction: column; gap:10px; padding-top:5px;}
.event_content>a>em{
    width:62px; height:20px; border:1px solid #bababa; border-radius:12px; display:flex; justify-content:center; line-height:20px; font-size:14px; 
    color:#7B7B7B; font-weight:bold; margin-top:5px;
}
.event_content>a>strong{
    display:block; width:274px; height:30px; padding-left:10px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; 
    font-weight: initial; font-size:15px; color: #121212;
}
.event_content>a>span{padding-left:10px; font-size:12px; font-weight: bold; color:#9d9d9d;}
.event1>a{background:url("../imgs/event/event1.png") no-repeat; background-size: contain; }
.event2>a{background:url("../imgs/event/event2.png") no-repeat; background-size:contain;}
.event3>a{background:url("../imgs/event/event3.jpg")no-repeat; background-size:contain;}

.community{height:406px;}

.community_box{
    height:310px; border-radius:23px; background-color: #ffffff; 
    padding-top:20px; padding-left:30px; padding-bottom:14px; padding-right:30px;
}
.community_box>ul>li>a{display:flex; width:100%; height:62px; border-bottom:1px solid #cdcdcd; align-items:center;}
.community_box>ul>li>a>.title{
    font-weight:bold; color:#727272; font-size:14px; border:1px solid #727272; border-radius:25px;
    width:78px; height:26px; text-align:center; line-height:26px;
}
.community_box>ul>li>a>.text{width:300px; margin-left:14px;}
.community_box>ul>li>.bottom{border:none;}
.store{
    width:672px; height:72px; border-radius:16px; background:url("../imgs/store/store_background.png") no-repeat; background-size:cover;
    margin-top:10px; display:flex; justify-content:end; align-items:center; font-size:13px; 
}
.store>a{
    display:flex; justify-content:center; align-items:center; line-height:15px; padding-left:10px; padding-right:10px; color:#fff;
    height:38px; background:#121212; border-radius:5px; border:1px solid #ccc; margin-right:14px;
}
.apple>div{background:url("../imgs/store/logo_apple.png")no-repeat; background-size:contain; height:28px; padding-left:32px;}
.google>div{background:url("../imgs/store/logo_google.png")no-repeat; background-size:contain; height:28px; padding-left:32px;}
.pc>div{background:url("../imgs/store/pc.png")no-repeat; background-size:contain; height:28px; padding-left:32px;}

.download{display:block; font-size:10px;}


/* -------------------------------------------------section2--------------------------------------------------------- */
/* ---------------------------------------------------section3---------------------------------------------------- */


.section3{display:flex; justify-content:center; align-items: center; width:100%; height:630px;}
.guide{margin-top:55px; width:1478px; height:458px; display:flex; flex-direction:column; justify-content:space-between;}
.guide>.content_header{display:flex; justify-content:space-between; align-items:center;}
.guide>.content_header>#search_box{width:400px; height:50px; border:2px solid #5d5d5d; display:flex; align-items:center; justify-content:space-between;}
.guide>.content_header>form>input{margin-left:10px; border:none; font-size:20px; color:#969696;}
.guide>.content_header>form>button{
    background: url("../imgs/icon/one_icon.png")no-repeat; background-size:contain; width:54px; height:54px; border:none; text-indent:-9999px;
}

.guide>.guides{display:flex; justify-content:space-between; align-items:center;}
.guide>.guides>li>a{
    display:flex; justify-content:center; align-items:end; padding-bottom:20px; width:350px; height:300px; border-radius:44px; 
    color:#fff; font-weight: bold; font-size:26px; text-shadow:5px 5px 4px rgba(0, 0, 0, 0.5);  box-shadow:4px 4px 4px rgba(0, 0, 0, 0);
}
.guide>.guides>li>a:hover{ box-shadow:10px 4px 4px rgba(0, 0, 0, 0.5);}
.guide>.guides>li>.growth{background:url("../imgs/guid/growth.png")no-repeat; background-size: cover;}
.guide>.guides>li>.life{background:url("../imgs/guid/life.png")no-repeat; background-size: cover;}
.guide>.guides>li>.dungeon{background:url("../imgs/guid/dungeon.png")no-repeat; background-size: cover;}
.guide>.guides>li>.raid{background:url("../imgs/guid/raid.png")no-repeat; background-size: cover;}

/* -----------------------------------------------section3------------------------------------------------- */
/* ----------------------------------------section4--------------------------------------------------- */


.section4{width:100%; height:491px; display:flex; justify-content:center; background:#ebebeb;}
.youtube{margin-top:42px; }
.youtube_header{display:flex; justify-content:space-between; font-size:32px; font-weight:bold; color:#2b2b2b; padding-left:20px;}
.youtube_header>a{display:block; width:36px; height:36px; background:url("../imgs/icon/plus.png")no-repeat; background-size:contain; text-indent:-9999px;}
.youtube_container{display:flex; justify-content:center; gap:16px; margin-top:42px;}
.youtube_container>li>a{display:block; width:360px; height:274px; background:#121212; }
.youtube_container>li>a>figure>figcaption{margin-top:10px; margin-left:10px;}
.youtube_container>li>a>figure>figcaption>span{ color:#fff; font-weight: bold; font-size:16px;}


/* ---------------------------------------section4----------------------------------------------- */
/* --------------------------------------section5----------------------------------- */


.section5{width:100%; height:868px; background:url("../imgs/cless/a_cless_background.png")no-repeat; background-size:cover;}
.section5>.class{background:rgba(0, 0, 0, 0.5); height:868px; display:flex; flex-direction:column; align-items:center; color:#fff;}
.section5>.class>h2{font-size:48px; margin-top:58px;}
.section5>.class>.class_container{margin-top:140px; display:flex; gap:10px;}
.section5>.class>.class_container>li{
    width:238px; height:446px; background:rgba(60, 60, 60, 0.94); border-radius:24px; display:flex; 
    justify-content:center; align-items:center;
}
.section5>.class>.class_container>li>div{
    display:flex; flex-direction:column; justify-content:center; align-items:center; text-align: center;
    width:196px; height:400px; border-radius:24px; border:1px solid #fff; padding:10px;
}
.section5>.class>.class_container>li>div>h3{font-size:40px;}
.info{margin-top:30px; font-size:14px; display:none;}
.info:active{display:block;}
.info>p{margin-bottom:10px;}
.info>.info_header{margin-bottom:10px;}
.info>p>span{border:1px solid #fff; border-radius:24px; padding:2px;}
.class_container>li>div>span{width:116px; height:110px;}

#warrior_icon{background: url("../imgs/cless/warrior.png")no-repeat; background-size:contain; }
#Archer_icon{background: url("../imgs/cless/Archer.png")no-repeat; background-size:contain;}
#wizard_icon{background: url("../imgs/cless/wizard.png")no-repeat; background-size:contain; }
#healer_icon{background: url("../imgs/cless/healer.png")no-repeat; background-size:contain; }
#bard_icon{background: url("../imgs/cless/bard.png")no-repeat; background-size:contain; }
#thief_icon{background: url("../imgs/cless/thief.png")no-repeat; background-size:contain; }


/* ---------------------------section5--------------------------------------------- */
/* -----------------------------footer------------------------------------ */

footer{width:100%; height:294px; display:flex; flex-direction:column; align-items:center; justify-content:end; margin-bottom:15px;} 
footer>ul{display:flex; margin-bottom:60px; gap:10px;  }
footer>ul>li>a{color:#000; font-size:14px; font-weight: 400;}
footer>address{ margin-bottom:60px; text-align:center; font-size:14px; color:#373737;}
.copyright{display:flex; align-items:center;}
#nexon_logo{width:88px; height:38px; background:url("../imgs/logo/logo_nexon.jpg")no-repeat; background-size:contain;}
#devcat_logo{width:40px; height:40px; background:url("../imgs/logo/logo_devcat.png")no-repeat; background-size:contain;}
.copyright>p{font-size:14px; color:#777;}

/* --------------------------footer-------------------------------- */